<ion-header>
  <ion-toolbar>
    <ion-title>
      Mes Tâches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

      <!-- Liste des tâches -->
      <ion-item *ngFor="let task of tasks">
        <ion-label >{{ task.title }}</ion-label>
        <ion-checkbox [(ngModel)]="task.status"
                      [checked]="task.status"
                      slot="start"></ion-checkbox>
        <ion-button  (click)="updateTask()">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger"  (click)="deleteTask()">
          <ion-icon name="trash" ></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Ajouter une tâche -->

      <ion-item>
        <ion-input type="text"
                   [(ngModel)]="task.title"
                   (keypress)="saveTask($event.code)"
                   placeholder="Ajouter une tâche.">
        </ion-input>
      </ion-item>






    </ion-list>
</ion-content>
